.u-section-1 {
  background-image: linear-gradient(0deg, rgba(51,45,41,0.7), rgba(51,45,41,0.7)), url("images/79452366_1359285827572516_2497636105256435712_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 802px;
}

.u-section-1 .u-group-1 {
  width: 687px;
  min-height: 416px;
  margin: 193px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.875rem;
  margin: 40px 0 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: 11px 0 0 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  margin: 44px 0 40px auto;
  padding: 15px 32px 16px 31px;
}

.u-section-1 .u-image-1 {
  width: 311px;
  height: 198px;
  margin: -50px auto 45px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 17px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    position: relative;
    margin-left: 161px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 25.68% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 35px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-1 {
    padding: 12px 30px 13px 28px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 740px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-line-1 {
  width: 108px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 1px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 55px 132px 0 20px;
}

.u-section-2 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-image-1 {
  min-height: 740px;
  background-image: url("images/benbalck.jpg");
  background-position: 77.13% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 740px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 112px 0 0;
}

.u-section-2 .u-line-2 {
  width: 108px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 55px 0 0;
}

.u-section-2 .u-line-3 {
  width: 108px;
  height: 3px;
  transform-origin: left center;
  margin: 31px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: NaNpx;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 62px;
  }

  .u-section-2 .u-image-1 {
    min-height: 570px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    background-position: 78.61% 50%;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1178px;
}

.u-section-3 .u-group-1 {
  width: 871px;
  min-height: 140px;
  margin: 44px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 28px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1120px;
  margin: 29px auto 120px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/188514337_1823226841178410_9093725964964023012_n.jpg");
  background-position: 50% 50%;
  min-height: 340px;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(63,80,118,0.5), rgba(63,80,118,0.5)), url("images/146470242_4178760255520427_1358991004263833793_o.jpg");
  background-position: 50% 50%;
  min-height: 409px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(63,80,118,0.5), rgba(63,80,118,0.5)), url("images/188171761_1825725860928508_1784640729967856373_n.jpg");
  min-height: 467px;
  background-position: 50% 36.05%;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 282px;
}

.u-section-3 .u-image-4 {
  object-position: 14.54% 50%;
  background-position: 14.54% 50%;
  height: 441px;
  margin: 0 auto -188px 0;
}

.u-section-3 .u-image-5 {
  min-height: 333px;
  background-image: url("images/120919892_1628180374016392_6271858560762208495_n.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-6 {
  min-height: 416px;
  background-image: linear-gradient(0deg, rgba(63,80,118,0.45), rgba(63,80,118,0.45)), url("images/193203610_1831777430323351_4980588274019311455_n.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    min-height: 280px;
  }

  .u-section-3 .u-image-2 {
    min-height: 338px;
  }

  .u-section-3 .u-image-3 {
    min-height: 385px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 232px;
  }

  .u-section-3 .u-image-4 {
    height: 364px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    min-height: 274px;
  }

  .u-section-3 .u-image-6 {
    min-height: 343px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2442px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 322px;
  }

  .u-section-3 .u-image-2 {
    min-height: 439px;
  }

  .u-section-3 .u-image-3 {
    min-height: 447px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 439px;
  }

  .u-section-3 .u-image-4 {
    height: 418px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    min-height: 579px;
  }

  .u-section-3 .u-image-6 {
    min-height: 707px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 483px;
  }

  .u-section-3 .u-image-2 {
    min-height: 659px;
  }

  .u-section-3 .u-image-3 {
    min-height: 671px;
    order: 1;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 659px;
    order: 0;
  }

  .u-section-3 .u-image-4 {
    height: 627px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    min-height: 434px;
  }

  .u-section-3 .u-image-6 {
    min-height: 530px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 304px;
  }

  .u-section-3 .u-image-2 {
    min-height: 415px;
  }

  .u-section-3 .u-image-3 {
    min-height: 422px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 415px;
  }

  .u-section-3 .u-image-4 {
    height: 395px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    min-height: 273px;
  }

  .u-section-3 .u-image-6 {
    min-height: 334px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1164px;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 871px;
  min-height: 150px;
  height: auto;
  margin: 57px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 8px;
}

.u-section-4 .u-image-1 {
  width: 449px;
  height: 481px;
  margin: -7px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 375px;
  margin-bottom: 0;
  margin-top: -428px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-4 .u-gallery-2 {
  height: 375px;
  margin: 30px auto 60px;
}

.u-section-4 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-10 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-11 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-12 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 718px;
    margin-top: 50px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 370px;
    margin-top: -10px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: -391px;
  }

  .u-section-4 .u-gallery-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 15px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-bottom: 15px;
  }

  .u-section-4 .u-image-1 {
    width: 469px;
    height: 499px;
    margin-top: 0;
    margin-left: 126px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: -551px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1489px;
  }

  .u-section-4 .u-image-1 {
    width: 405px;
    height: 484px;
    margin-top: -86px;
    margin-left: 57px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-4 .u-image-1 {
    width: 305px;
    height: 427px;
    margin-top: -151px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: -96px;
  }

  .u-section-4 .u-gallery-2 {
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 613px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 50px auto 43px 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/119927336_1614499002051196_3998513933415601619_n.jpg");
  min-height: 543px;
  background-position: 77.18% 49.81%;
  background-size: 120%;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 543px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  margin: 44px 20px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-5 .u-line-1 {
  width: 108px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 26px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 544px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 20px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 89px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 639px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 68px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -535px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 584px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 89px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-5 .u-line-1 {
    width: 85px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -529px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 542px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 653px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 40px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-5 .u-line-1 {
    width: 75px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 6px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 815px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  width: 751px;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  width: 751px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px);
  grid-gap: 19px 19px;
  min-height: 527px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-6 .u-image-1 {
  height: 366px;
  object-position: 50% 0%;
  width: 320px;
  margin: 0 0 0 13px;
}

.u-section-6 .u-text-3 {
  margin: 20px 13px 0;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  margin: 20px 13px 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-6 .u-image-2 {
  height: 366px;
  width: 320px;
  margin: 0 0 0 13px;
}

.u-section-6 .u-text-5 {
  margin: 20px 13px 0;
}

.u-section-6 .u-text-6 {
  text-transform: uppercase;
  margin: 20px 13px 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-6 .u-image-3 {
  height: 366px;
  object-position: 71.29% 0%;
  width: 320px;
  margin: 0 0 0 13px;
}

.u-section-6 .u-text-7 {
  margin: 20px 13px 0;
}

.u-section-6 .u-text-8 {
  text-transform: uppercase;
  margin: 20px 13px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-3 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-5 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-7 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.5px) calc(50% - 9.5px);
  }

  .u-section-6 .u-image-1 {
    height: 420px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 420px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    height: 420px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    height: 630px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    height: 630px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-3 {
    height: 630px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    height: 397px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 397px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 397px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(63,80,118,0.5), rgba(63,80,118,0.5)), url("images/55390c401ff0cc160c54045570f36afa.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 534px;
}

.u-section-7 .u-group-1 {
  width: 864px;
  min-height: 374px;
  margin: 80px auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 59px auto 0;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 39px 16px 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 39px 16px 35px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 713px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 70px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 55px;
    margin-bottom: 43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 5px;
    margin-right: 5px;
  }
}